<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>
<ds-configuration-search-page *ngIf="showDiscoverFilters"
                              [sideBarWidth]="3"
                              [showViewModes]="false"
                              [searchEnabled]="false"
                              [inPlaceSearch]="false"
                              [showScopeSelector]="false">
  <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
</ds-configuration-search-page>

<div *ngIf="!showDiscoverFilters" class="container">
  <ng-container *ngTemplateOutlet="homeContent"></ng-container>
</div>
<ds-suggestions-popup></ds-suggestions-popup>

<ng-template #homeContent>

  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>

  <ds-top-level-community-list></ds-top-level-community-list>

  

  <div class="container mt-5">
      <div class="row">
          <div class="col-lg-3 col-sm-12">
              <h2>Links Úteis</h2>
              <a href="/communities/164e66d0-9d32-4c7c-9b1d-f87859b94df4?spc.page=1&spc.sf=dc.date.accessioned&spc.sd=DESC">
              <div class="card home-card-links mt-4" >
                  <img id="enfam" src="assets/images/logo-enfam.svg" alt="Repositório Institucional da Enfam" height="110">                  
                  <div class="card-body text-center">
                      <p class="card-text">Repositório Institucional da Enfam</p>
                  </div>
              </div>
              </a>
              <a href="https://consorciobdjur.stj.jus.br/vufind" target="_blank" rel="noopener noreferrer">
              <div class="card home-card-links mt-4" >
                  <img id="consorcio-bdjur" src="assets/images/logo-bdjur-consorcioBDjur.png" alt="Rede de Bibliotecas Digitais">                  
                  <div class="card-body text-center">
                      <p class="card-text">Rede de Bibliotecas Digitais</p>
                  </div>
              </div>
              </a>
              <a href="https://www.lexml.gov.br" target="_blank" rel="noopener noreferrer">
              <div class="card home-card-links mt-4" >
                  <img id="lexml" src="assets/images/logo-Lexml.png" alt="Informação Legislativa e jurídica">                  
                  <div class="card-body text-center">
                      <p class="card-text">Rede de Informação Legislativa e Jurídica</p>
                  </div>
              </div>
              </a>
              <div class="destaques my-5 py-4">
                  <h2 class="mb-4">Destaques</h2>
                   <a href="/handle/2011/147628" target="_blank" rel="noopener noreferrer">Coletânea de Atos Normativos do STJ</a>
                  <br><br>
                   <a  href="/items/c383ff71-aca4-403f-996a-97a172dff027" target="_blank" rel="noopener noreferrer">Manual de Padronização de Textos do STJ</a>
                  <br><br>
                   <a  href="/items/adfaa32c-4827-40cc-b954-aaa57aa5cd57" target="_blank" rel="noopener noreferrer">Manual de Organização do STJ</a>
                  <br><br>
                  <a  href="https://www.stj.jus.br/publicacaoinstitucional/index.php/Regimento/issue/view/1/showToc" target="_blank" rel="noopener noreferrer">Regimento Interno do STJ</a>
                  <br><br>
                  <a  href="/handle/2011/17582" target="_blank" rel="noopener noreferrer">Regulamento-Geral do PRÓ-SER</a>
              </div>
              
          
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-8 col-sm-12">
              <div class="row">
                  <h2>Acesso Rápido</h2>
                  <div class="acesso-rapido mt-4">
                      <div>
                          <a class="acesso-rapido-filho" href="https://www.stj.jus.br/publicacaoinstitucional" target="_blank">
                              <img id="publicacoes-institucionais" src="assets/images/icon-publicacoesInstitucionais.svg" width="58" alt="Acesse as publicações institucionais do STJ">
                              <p><b class="texto-verde">Publicações institucionais</b><br>Obras publicadas pelo STJ</p>
                          </a>
                      </div>
                      <div >
                          <a class="acesso-rapido-filho" href="/collections/34a24f58-642b-496d-8056-2cf410a3a308" target="_blank">
                              <img id="banco-de-saberes" src="assets/images/icon-banco-saberes.svg" width="58" alt="Acesse os materiais das ações de capacitação do STJ">
                              <p><b class="texto-verde">Banco de Saberes da Educação Corporativa</b><br>Materiais das ações de capacitação do STJ</p>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="row">
                <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>                  
              </div>
          </div>
      </div>
  </div> 
</ng-template>
