<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
<section class="container my-5">
  <h1 class="mb-4">Contrato de Usuário Final</h1>
  <p>
    O Termo de Uso da <strong>Biblioteca Digital Jurídica (BDJur)</strong> do Superior Tribunal de Justiça (STJ) estabelece as condições de uso e os direitos e responsabilidades dos usuários e do próprio Tribunal. Ao utilizar o serviço, o usuário concorda com os termos e condições apresentados, comprometendo-se a respeitar as normas de propriedade intelectual e as finalidades para as quais o serviço foi concebido. O uso comercial ou inadequado da plataforma é expressamente proibido, estando os conteúdos protegidos por legislação nacional e tratados internacionais.
  </p>
  <p>
    A BDJur é um repositório digital que armazena, preserva e disponibiliza conteúdos jurídicos e administrativos do STJ, como livros, artigos e atos normativos, com o objetivo de subsidiar as atividades administrativas e judiciais do Tribunal. O serviço visa assegurar acesso seguro e eficiente a informações de interesse público.
  </p>
  <p>
    O STJ enfatiza a proteção dos dados pessoais, assegurando sua privacidade em conformidade com as legislações vigentes, como a <strong>Lei Geral de Proteção de Dados (LGPD)</strong>. Em caso de necessidade, os dados podem ser compartilhados mediante ordem judicial ou para investigações relacionadas a atividades ilegais, garantindo sempre o sigilo quando aplicável.
  </p>
  <p>
    Os usuários são responsáveis pelo uso correto do serviço, devendo evitar práticas que possam comprometer a segurança da plataforma ou violar direitos de terceiros. O Tribunal não se responsabiliza por problemas técnicos decorrentes do equipamento do usuário ou por códigos maliciosos eventualmente presentes na navegação na internet.
  </p>
  <p>
    A <strong>Política de Privacidade do STJ</strong> integra esse Termo de Uso, detalhando o tratamento dos dados pessoais, em conformidade com a legislação aplicável. Para ter acesso à Política de Privacidade do STJ, <a href="https://www.stj.jus.br/sites/portalp/Paginas/Politica-de-privacidade-de-navegacao-no-site.aspx" target="_blank" class="text-primary">clique aqui</a>.
  </p>
</section>
