<div class="container-fluid text-center" id="home-banner">
    <img id="banner-da-home" class="img-fluid" src="assets/images/home-banner.png" alt="Banner da Biblioteca Jurídica do STJ"> 
    <div id="homeBannerText" class="container home-banner-img-overlay text-center text-white">
        <h1>Biblioteca Digital Jurídica do STJ</h1>
        <p>Atos administrativos, publicações, livros, palestras e mais</p>
    </div>       
</div>

<div class="container">
    <div class="row">            
        <div class="col-12">
            <div id="divBtnDuvidas" class="text-center btn-home-duvidas-posicao mb-1">
                <a href="/server/api/core/bitstreams/3b2795b8-7e22-44e8-a2c1-5a4afef64749/content?authentication-token=eyJhbGciOiJIUzI1NiJ9.eyJlaWQiOiJhZTY0YzM1My00NTc4LTQ5MzMtODdmNC00MTI5ODgwNTA2ZTEiLCJzZyI6WyI1YTEyOGZlNi1lOWE4LTQ3NWQtYmVkOC00MjNhNGNkMDA0MWUiXSwiZXhwIjoxNzM3MjA0NDM5LCJhdXRoZW50aWNhdGlvbk1ldGhvZCI6ImxkYXAifQ.EhSZi7dqlWZPqtWWVL49K19-yWdnEcEppGEwO4J5vhQ" data-tooltip="Aqui você encontra dúvidas e perguntas frequentes" class="btn-home-duvidas"><span>?</span><br>Dúvidas</a>
            </div>
        </div>
    </div>
    
</div>
<div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip text</span>
</div>

