<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div class="row g-2 align-items-center">
        <!-- Campo de busca -->
        <div class="col-md-5">
            <label for="searchQuery" class="form-label visually-hidden">Buscar</label>
            <input type="text" [(ngModel)]="query" id="searchQuery" name="query"
                   class="form-control h-100" placeholder="Digite sua busca..."
                   [attr.aria-label]="searchPlaceholder"
                   [attr.data-test]="'search-box' | dsBrowserOnly">
        </div>

        <!-- Select para escolher o campo de busca -->
        <div class="col-md-4">
            <label for="searchField" class="form-label visually-hidden">Filtrar por</label>
            <select class="form-control h-100" id="searchField" [(ngModel)]="selectedField" name="selectedField">
                <option value="dc.title">Título</option>
                <option value="dc.contributor.author">Autor</option>
                <option value="dc.subject">Assunto</option>
            </select>
        </div>

        <!-- Botão de busca -->
        <div class="col-md-3 d-grid">
            <button type="submit" class="btn btn-{{brandColor}} w-100 h-100">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>
</form>
